-e file:///Users/josh/Documents/Portfolio/AIM
aiofiles==24.1.0
aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiolimiter==1.1.0
aiosignal==1.3.1
altair==5.5.0
altgraph==0.17.4
annotated-types==0.7.0
anyio==4.9.0
appnope==0.1.4
asttokens==2.4.1
async-timeout==4.0.3
attrs==25.3.0
backoff==2.2.1
bcrypt==4.2.0
beautifulsoup4==4.12.3
blinker==1.9.0
breadability==0.1.20
cachetools==6.2.0
captcha==0.6.0
cdp-socket==1.2.8
certifi==2025.8.3
chardet==5.2.0
charset-normalizer==3.4.3
click==8.1.8
comm==0.2.2
contourpy==1.3.0
cycler==0.12.1
dataclasses-json==0.6.7
debugpy==1.8.5
decorator==5.1.1
deepdiff==8.0.1
distro==1.9.0
docopt==0.6.2
elevenlabs==1.7.0
emoji==2.12.1
exceptiongroup==1.2.2
executing==2.1.0
extra-streamlit-components==0.1.71
filetype==1.2.0
fonttools==4.53.1
frozenlist==1.4.1
gitdb==4.0.12
gitpython==3.1.45
greenlet==3.2.2
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.10
importlib-metadata==8.4.0
importlib-resources==6.4.4
iniconfig==2.0.0
ipykernel==6.29.5
ipython==8.18.1
jedi==0.19.1
jinja2==3.1.6
jiter==0.9.0
joblib==1.4.2
jsonpath-python==1.0.6
jsonschema==4.25.1
jsonschema-specifications==2025.4.1
jupyter-client==8.6.2
jupyter-core==5.7.2
kiwisolver==1.4.7
langdetect==1.0.9
lxml==5.3.0
macholib==1.16.3
markdown-it-py==3.0.0
markupsafe==3.0.2
marshmallow==3.22.0
matplotlib==3.9.2
matplotlib-inline==0.1.7
mdurl==0.1.2
memory-profiler==0.61.0
multidict==6.0.5
mypy-extensions==1.0.0
narwhals==2.3.0
nest-asyncio==1.6.0
nltk==3.9.1
numpy==2.0.2
openai==1.77.0
orderly-set==5.2.2
orjson==3.10.7
outcome==1.3.0.post0
packaging==25.0
pandas==2.3.2
parso==0.8.4
pexpect==4.9.0
pillow==11.3.0
pip==21.2.4
platformdirs==4.2.2
playwright==1.52.0
pluggy==1.5.0
prompt-toolkit==3.0.47
protobuf==6.32.0
psutil==6.0.0
ptyprocess==0.7.0
pure-eval==0.2.3
pyarrow==21.0.0
pycountry==24.6.1
pydantic==2.11.4
pydantic-core==2.33.2
pydeck==0.9.1
pyee==13.0.0
pygments==2.18.0
pyinstaller-hooks-contrib==2025.1
pyjwt==2.9.0
pyparsing==3.1.4
pypdf==4.3.1
pysocks==1.7.1
pytest==8.3.4
pytest-asyncio==0.25.3
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-iso639==2024.4.27
python-magic==0.4.27
python-pptx==1.0.2
pytz==2025.2
pyyaml==6.0.2
pyzmq==26.2.0
rapidfuzz==3.9.7
referencing==0.36.2
regex==2024.7.24
requests==2.32.5
requests-toolbelt==1.0.0
rich==13.8.0
rpds-py==0.27.1
scipy==1.13.1
selenium==4.24.0
selenium-driverless==1.9.3.1
setuptools==58.0.4
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
stack-data==0.6.3
streamlit==1.49.1
sumy==0.11.0
tabulate==0.9.0
tenacity==9.1.2
tiktoken==0.7.0
toml==0.10.2
tomli==2.2.1
tornado==6.5.2
tqdm==4.67.1
traitlets==5.14.3
trio==0.26.2
trio-websocket==0.11.1
typing-extensions==4.15.0
typing-inspect==0.9.0
typing-inspection==0.4.0
tzdata==2025.2
unstructured==0.15.7
unstructured-client==0.25.7
urllib3==2.5.0
uvloop==0.21.0
wcwidth==0.2.13
websocket-client==1.8.0
websockets==13.0.1
wrapt==1.16.0
wsproto==1.2.0
xlsxwriter==3.2.0
yarl==1.9.7
zipp==3.20.1
